extends layout

block content
    if user
        form(method="POST" action="/catalog/secretMembership")
            label(for="secretPassword") 
                h3 Enter password to enter secret membership
            input(name="secretPassword" type="password")
            input(type="submit") 
    else 
        h1 You do not have security clearance